# **Curso Básico de Python**

## fonte **http://excript.com/**

## **Comentários**

In [1]:
print("hello everynyan") #comentários auxiliam na comunicação do código
print('whatever')
''' para comentários 
de muitas linhas'''

hello everynyan
whatever

' para comentários \nde muitas linhas'

In [2]:
#erros de sintaxe : acentuação etc que não são entendidos pelo python

# -*- coding: utf-8 -*-
print("helló") #uso do acento

helló

## **Tipos de variáveis**

### tipos de variaveis
### inteira = 45 - int
### número flutuante = 12.756 - float
### string = "ola"
### booleana = verdadeira ou falsa

## **Tipos de dados**

In [69]:
num_int = 5
num_dec = 1.5
val_str = "qualquer texto"
print("o valor é:", num_dec)
print("o valor é: %i" % num_int)
print("o valor é: " + str(num_int))  # conversão da variavel int em string

o valor é: 1.5
o valor é: 5
o valor é: 5

## **Ponto flutuante e precisão de um número**

In [21]:
num_dec = 5.7
print("Concatenando decimal:", num_dec)
print("Concatenando decimal:%.10f" %num_dec) # %.numero_de_casa_decimais
print("Concatenando decimal:" + str(num_dec)) #não é possível trabalhar com duas instâncias diferentes, deve-se fazer a conversão

print("Concatenando string:", val_str)
print("Concatenando string:%s" %val_str)
print("Concatenando string:" + val_str)

Concatenando decimal: 5.7
Concatenando decimal:5.7000000000
Concatenando decimal:5.7
Concatenando string: qualquer texto
Concatenando string:qualquer texto
Concatenando string:qualquer texto

### *declarar uma variavel = armazenar a variavel na memória

## **Operadores Relacionais**

    Não é código! Dessa forma fica mais visível

In [ ]:
== igual
!= diferente 

> maior
>= maior igual
< menor
<= menor igual

## **Operadores comparativos**

<img src="images/comp.png" alt="Fluxograma tomada de decisões comparativas"/>

In [54]:
idade = int(input("sua idade: "))
if(idade <= 0):
  print("sua idade não pode ser 0 ou menor que 0")
else:
  if(idade > 150):
    print("sua idade não pode ser maior ou igual a 150")
  else:
    if(idade < 18):
      print("você precisa ter mais que 18")

sua idade não pode ser 0 ou menor que 0

## **Operadores Lógicos**

### **AND** duas condições verdadeiras
### **OR** pelo menos uma condição verdadeira
### **NOT** inverte o valor
### **IS** é
### **IS NOT** não é 
### **IN** está contido
### **NOT IN** não está contido

In [62]:
x = 3
y = 3
z = 5

print(x == y and x == z)

print(x == y or x == z and z == y)

print(not(2>4 or 2<4))

print(type(2.0))
print(type(2.0)is int)

False
True
False
<class 'float'>
False

## **Comando Condicionais**

### if condição
###   execute_esta_linha

### else #executado caso if não seja verdadeiro
###	  caso_if_falhe_execute_essa_linha

<img src="images/decision.png" alt="Fluxograma tomada de decisões"/>

In [7]:
x = -1
y = 1000
if x >= y:
	print("x maior que y")

#if y > x:
#	print("y maior que x")

else:
		print("Error")

Error

## **Depuração**

### entender o funcionamento de um determinado código
### descobrir erros

## **Comando elif**

### caso tenha mais de um if else

In [10]:
x = 1 
y = 2
if x == y:
	print("numeros iguais")
elif y > x:
	print("y maior que x") #executa a primeira condição verdadeira que aparecer
else:
	print("numeros diferentes")

y maior que x

In [55]:
idade = int(input("sua idade: "))
if(idade <= 0):
  print("sua idade não pode ser 0 ou menor que 0")
elif(idade > 150):
  print("sua idade não pode ser maior ou igual a 150")
elif(idade < 18):
  print("você precisa ter mais que 18")

você precisa ter mais que 18

In [45]:
acao = int(input("digite '1' para sim e '2' para não: "))
if(acao==1):
  print("você disse sim")
else:
  if(acao==2):
    print("você disse não")
  else:
    print("o número digitado não corresponde a '1' nem '2'!")

o número digitado não corresponde a '1' nem '2'!

## **Comando switch**
### **No Python não temos o switch, porém, podemos implementar algo parecido usando dicionários.**

### switch(valor)
  ### caso 1: façaIsso()
  ### caso 2: façaAquilo()
  ### caso 3: façaIssoEAquilo()

In [49]:
def meu_switch(opcao):
    opcoes = {
        0: "Você escolheu zero",
        1: "Você escolheu 1",
        2: "Você escolheu 2",
    }
    return opcoes.get(opcao, "Opção inválida.")

if __name__ == "__main__":
    opcao = int(input("Informe um número de 0 a 2: "))
    print (meu_switch(opcao))

Opção inválida.

### **Em Java e C, a estrutura switch é dada como:**

    Não é código! Dessa forma fica mais visível

In [ ]:
switch(variável)
{
    case constante1:
        instruções;
        break;
    case constante2:
        instruções;
        break;
    case constante3:
        instruções;
        break;
    default:
        instruções caso nenhuma opção tenha sido escolhida;
}

## **Laços de repetição**

### repete um conjunto de códigos inteiros enquanto uma condição predeterminada for verdadeira
### while = enquanto 
### iterar = repetir

In [13]:
x = 1
while x < 10:
	print(x)
	#x = x + 1
	#x += 1 #mesmo que x = x + 1
	x = 10

1

## **Laço for**

### para varrer um conjunto/lista de elementos
### listas: sequencia de numeros ou caracteres

In [14]:
lista1 = [1, 2, 3, 4, 5]
lista2 = ["hELLO", "evERYNYAN"] 
lista3 = [0, "hallu", 9.99, True]

for i in lista1:
	print(i)

for i in lista2:
	print(i)

for i in lista3:
	print(i)

1
2
3
4
5
hELLO
evERYNYAN
0
hallu
9.99
True

## **Função range**

### retorna uma lista

In [15]:
for i in range(10,20,2): #de 10 até 20-1, de 2 em dois elementos
	print(i)

10
12
14
16
18

## **Input**

### Entrada de dados
### recebe dados enviados pelo usuário para o programa (interação entre usuario e programa)

In [16]:
numero = input("Digite um numero:")
print("O numero digitado eh:")
print(numero)

O numero digitado eh:
5

In [24]:
login = input("Login:")
senha = input("Senha:")
print("O usuário informado foi:%s, e a senha foi: %s" %(login, senha))

O usuário informado foi:yay, e a senha foi: 1234

## **Operações Matemáticas**

In [26]:
print(10/6)
print (10//6) #retira as casas decimais do resultado da divisão e retorna int

1.6666666666666667
1

In [30]:
print(5%2)
print(6%2) #o simbolo de % é o resultado do resto da divisão

print(900%100==0)

1
0
True

In [34]:
num1 = float(input("Digite o número: "))
num2 = float(input("Digite o número: "))

divisao = num1 / num2
rest = num1 % num2

print (num1, "dividido por", num2, "é igual a:", divisao)
print ("o resto da divisão entre",num1, "e", num2, "é igual a:", rest)

2.0 dividido por 5.0 é igual a: 0.4
o resto da divisão entre 2.0 e 5.0 é igual a: 2.0

### Potenciação e Radiciação

In [40]:
print(2**2) #exponencial 2 elevado a 2
print(10 % 3) #módulo: retorna o resto da divisão

n = 9**3
print(n)
print(n**(1/3))

4
1
729
8.999999999999998

## **Biblioteca math**

In [41]:
import math
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [42]:
math.pi

3.141592653589793

## **Bloco de instrução**

### conjunto de instruções que serão executadas uma após a outra
### se definirmos uma variável dentro de um bloco, ela não poderá ser acessada fora desse bloco

In [68]:
if (True):
  print("imprime ae")

  print("imprime um texto1")
  print("imprime um texto2")
  print("imprime um texto3")

if(False):
  print("imprime um texto4")
  print("imprime um texto5")
  print("imprime um texto6")

imprime ae
imprime um texto1
imprime um texto2
imprime um texto3

### **A cada : começamos um novo bloco de instrução**

In [70]:
a = 25
if(True):
  a = 50
print(a)

50

In [72]:
num1 = int(input("digite um número: "))

if (num1 > 10):
  print("o número é maior que 10")
  if (num1 <= 15):
    print("valor maior que 10 e menor que 15")
  else:
    if(num1 <= 50):
      print("o valor é maior que 10 mas menor que 50")
    else:
      print("o valor é maior que 50")

else:
  if(num1 > 5):
    print("o número é maior que 5 e menor que 10")
    if(num1 == 7): # só executado se num1 > 5 e == 7
      print("o número é 7")
  else:
    print("o valor é menor que 5")

o número é maior que 10
o valor é maior que 50

## **Escopo**

<img src = "images/escopo.png" alt = "Níveis de escopo"/>


### **Nível/escopo global**: fora de uma função ou bloco de instrução (1) 
### **Nível/escopa local**: dentro de uma função ou bloco de instrução (2)
### **Escopo parametrizado**: no cabeçalho da função, contidas entre parênteses ()

### -bloco (2) está contido no nível (1) e pode acessar as variáveis do escopo (1)
### -bloco (1) não consegue acessar as variáveis dos níveis (2), (3) e (4)
### -bloco (4) está contido no nível (3) e pode acessar o escopo (3) e (1)
### -bloco (4) não pode acessar as variáveis dentro bloco (2)

In [73]:
a = 1
b = 2

def soma_num(var1, var2):
  s = var1 + var2
  return s

def imprime(x_vezes):
  for i in range(x_vezes):
    print(i)

print(soma_num(a, b))
imprime(5)

3
0
1
2
3
4

## **Operadores de Atribuição**

### atribuição **x = y**
### o valor da direita (y) é atribuído a variável a esquerda do operador (x)

### comparação **x == y**

In [2]:
a = 9
x = y = z = a
a
x == y == z == a == 10

False

### **Atribuição Múltipla**

### Atribuir valores diferentes a variáveis distintas numa mesma instrução:
**a, b, c = 5, 7, 9**

In [9]:
a = 10
b = 5
x = a
a = b
b = x
a #a = 5 

a, b = b, a # o valor de a deve ser atribuido em b, o mesmo ocorre para b
a
b

5

In [12]:
a, b, c =2, 4, 8
a, b, c = a*2, a+b+c, a*b*c # a = 2, b = 4, c = 8

a, b, c

(4, 14, 64)

In [14]:
nome, sobrenome = "Grazi", " Daiana"
nome + sobrenome

'Grazi Daiana'

## **Operadores de Atribuição Compostos**


### **+= -> (x += y) == x + y**
### **-= -> (x -= y) == x - y**

### **= -> (x *= y) == x * y**
### **/= -> (x /= y) == x / y**

### **%= -> (x %= y) == x % y**

In [20]:
x = 9
y = 3
x *= y
x

27

## **Atribuição Condicional**

### **Estrutura para simplificar o código, onde o valor a ser atribuído será aquele que satisfazer a condição**

In [ ]:
<variavel> = <valor1> if (True) else <valor2>

var = 10 if (True) else 20

In [24]:
x = 10
texto = "sim" if x == 10 else "not"
texto

'sim'

In [28]:
num1 = int(input("Digite um numero: "))
s = "par" if num1 % 2 == 0 else "impar"
print("o numero digitado eh", s)

o numero digitado eh par

## **Iteração/ Laços Condicionais/ Looping**

### **Processo de repetição onde um bloco de instrução é executado enquanto uma condição for atendida**

In [3]:
x = 0
while(x <= 10):
  print(x)
  x += 1

0
1
2
3
4
5
6
7
8
9
10

### **Laços de Repetição**

<img src = "images/while.png" alt = "Laço de condição"/>

## **while else**

<img src = "images/else.png" alt = "blocos de condição"/>

In [7]:
x = 0
print("while")
while(x<10):
  print(x)
  x = x + 1;
else:
  print("else")

print("end")

while
0
1
2
3
4
5
6
7
8
9
else
end

## **Laçõs de Repetição *for*... *in*...:**

In [ ]:
for <var> in <lista>:
...
...
...

In [9]:
for c in "eXcript":
  print(c)
  # loop executado 7 vezes (numero de letras da nossa lista) em cada ciclo 'c' recebe uma letra

e
X
c
r
i
p
t

## **Função *range***

In [ ]:
range ([start], stop[, step]) #onde o intervalo começa (start), onde termina (stop) e a distancia que os elementos inteiros que serão gerados terão entre si

### x[, ]y    #intervalo aberto

### 0, 4      # x = 0 e y = 4

### {1, 2, 3} # o primeiro e último elemento não estão contidos 0, 4

### [x, y] #intervalo fechado
### 0,4
### {0, 1, 2, 3, 4}

In [14]:
# range(0, 10, 2)
# type(range(0,10,2)
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [16]:
list(range(10)) #padrão (0, - , 1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:

list(range(5, 26, 10))

[5, 15, 25]

### **Laço *for* e função *range***

In [ ]:
list(range(10))

list(range(1, 15))

list(range(0, 100, 3))

list(range(100, 0, -3))

list(range(-100, 0, 3))

In [4]:
for i in range(-10, 0, 1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

## **Break**

### **A instrução *break* interrompe a execução do laço de repetição onde esta contido**

In [6]:
for i in range(10):
  if(True):
    break

In [5]:
i = 10
while (i<100):
  i += 1
  if(True):
    break

In [9]:
print("antes de entrar no laço")
for item in range(10):
  print(item)
  if(item==6):
    #print("a condicao e verdadeira")
    break
print("saida do laço")

antes de entrar no laço
0
1
2
3
4
5
6
saida do laço

## **Instrução *continue***

### **interrompe a execução de um único ciclo. Enquanto o *break* interrompe todos os ciclos de um laço de repetição, a instrução *continue* finalizza somente o ciclo que está sendo executado**

In [4]:
print()
print("inicio")
i = 0
while(i<10):
  i += 1
  if(i%2==0):
      continue
  if(i>5):
      break
  print(i)
else:
  print("else") 
print("fim")
print()

inicio
1
3
5
fim

## **Estruturas de dados *listas*, *Pilha*, *Array*, *Set***

### **Estrutura de Dados é qualquer meio utilizado para armazenar e recuperar informações**

## ***Listas***

### Estrutura de dados mútavel (podemos incluir e excluir itens) onde a ordenação natural é estabelecida pela ordem de entrada. O último item de uma lista não ordenada SEMPRE será último elemento adicionado.

A estrutura de lista, por si só, não apresenta ordenação

<img src = "images/listas.png" alt = "blocos de condição"/>

## **Pilha**

### Estrutura de dados mutável onde a ordenação natural é estabelecido pela ordem de entrada. O primeiro item da pilha SEMPRE será o último elemento adicionado. O itens são acumulados.

<img src = "images/pilhas.png" alt = "blocos de condição"/>

## **Array**

### Estrutura de dados estática para a manipulação de um número finito de elementos de um mesmo tipo.

<img src = "images/array.png" alt = "blocos de condição"/>

## **Tupla**

### Estrutura de dados que possui todas as caractarísticas de uma lista porém imutável. A tupla pode conter 0 ou 'n' elementos e estes não poderão ser alterados.

<img src = "images/tupla.png" alt = "blocos de condição"/>

## **Set (conjunto)**

### Estrutura de dados semelhante a uma lista. Um set tem como princípio conter uma lista de valores diferentes (não possui itens com mesmo valor; valor é diferente de tipo de dados!)

<img src = "images/set.png" alt = "blocos de condição"/>

## **Dicionário**

### Estrutura de dados onde cada elemento está associado a uma chave que pode ser de qualquer tipo. O valor da chave NUNCA pode se repetir.

<img src = "images/dicio.png" alt = "Dicionario exemplo"/>

## **Árvores**

### Estrutura de dados disposta numa hierarquia. A estrutura de diretórios do nosso computador é uma árvore.

<img src = "images/arvore.png" alt = "arvore"/>

## **Listas Propriedades**

### **Class List I**

In [20]:
lista = [1,2,8,5,15]
lista
type(['aaa','bbb'])

list

In [21]:
lista[0] #índice do elemento da lista

1

In [22]:
lista[1]+lista[2]

10

In [11]:
l1 = list("eXcript") #objeto iteravel = list
l1

['e', 'X', 'c', 'r', 'i', 'p', 't']

In [13]:
l2 = list((4,5,8))
l2

[4, 5, 8]

In [18]:
l3 = list(("eXcript",)) #necessário colocar uma vírgula para indicar que a lista contem um elemento do tipo string com o valor 'eXcript'
l3

['eXcript']

### **Class List II**

In [26]:
lista_de_lista = [['a','b','c'],[5,8,9],[1.6]]
lista_de_lista[2]

[1.6]

In [28]:
lista_de_lista[0][1] #segundo elemento da primeira lista

'b'

In [30]:
len(lista_de_lista)#função que retorna o comprimento (quantos elementos contem) da lista

3

In [31]:
len('eXcript')

7

In [32]:
lista_de_lista[len(lista_de_lista)-1]

[1.6]

In [34]:
lista_de_lista[-1] #último elemento da lista

[1.6]

In [36]:
lista_de_lista[0][-1] #retorna o último elemente da lista de índice 0

'c'

### **Class List III**

In [38]:
lista = [1,2,3,4,5]
lista = lista + [6] #adicionar um elemento a lista Concatenação
lista

[1, 2, 3, 4, 5, 6]

In [39]:
lista = [0] + lista
lista

[0, 1, 2, 3, 4, 5, 6]

In [48]:
lista = [0,1,2,3,4,5,6]
lista1 = lista + [7,8,9,10]
lista1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
lista1.append(11) #adicionar valor ao final da lista
lista1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 11]

In [62]:
lista1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista1.append([12])
lista1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [12]]

In [63]:
del(lista1[-1]) #excluir valor da lista

In [64]:
lista1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
10*[0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [66]:
lista1 += 10*[0]

In [67]:
lista1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### **Iterando Listas**

#### **Percorrer todos os itens => Iterar**

In [1]:
lista_nums = [100, 200, 300, 400]
for item in lista_nums:
  print(item)

100
200
300
400

### Não podemos efutar operações matemáticas em cima da variável que estamos iterando!

In [2]:
lista_nums = [100, 200, 300, 400]
lista_indice = [0,1,2,3]
for item in lista_indice:
  lista_nums[item] += 1000
print(lista_nums)

[1100, 1200, 1300, 1400]

In [4]:
list(range(0,4))

[0, 1, 2, 3]

In [6]:
lista_nums = [100, 200, 300, 400]
lista_indice = range(4)
for item in lista_indice:
  lista_nums[item] += 1000
print(lista_nums)

[1100, 1200, 1300, 1400]

In [7]:
#a função range() no intervalo indicado, ex. rang(4) = [0,1,2,3]

lista_nums = [100, 200, 300, 400]
for item in range(4):
  lista_nums[item] += 1000
print(lista_nums)

[1100, 1200, 1300, 1400]

In [9]:
# a função len retorna a quantidade de elementos que existem em uma lista

lista_nums = [100, 200, 300, 400, 500, 600, 700, 800]
for item in range(len(lista_nums)):
  lista_nums[item] += 1000
print(lista_nums)

[1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800]

In [11]:
#Função enumerate adiciona um valor numerico para cada elemento da lista

l = ['aaa', 'bbb', 'ccc', 'ddd']
enumerate(l)

In [13]:
#Convertendo enumerate para o tipo lista
l = ['aaa', 'bbb', 'ccc', 'ddd']
list(enumerate(l))

[(0, 'aaa'), (1, 'bbb'), (2, 'ccc'), (3, 'ddd')]

In [14]:
lista_nums = [100, 200, 300, 400, 500, 600, 700, 800]
for idx, item in enumerate(lista_nums):
  lista_nums[idx] += 1000
print(lista_nums)

[1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800]

### **Fatiando listas**

<img src = "images/slice.png" alt = "index para a palavra Python"/>

<img src = "images/fatiar.png" alt = "fatiando listas"/>

### **Por padrão temos, caso não seja definido:**
  * ### x = 0
  * ### y = len() [tamanho da lista]
  * ### z = 1

In [15]:
lista = 'Bem vindo ao curso de Python'
lista[11]

'o'

In [16]:
lista[:20 ]

'Bem vindo ao curso d'

In [17]:
lista[10:20 ]

'ao curso d'

In [19]:
lista[::2 ]

'Bmvnoa us ePto'

In [21]:
lista[::-1 ]

'nohtyP ed osruc oa odniv meB'

### **Incluindo, alterando e excluindo elementos**

In [30]:
# Criando uma lista l

l = ['ccc', 'aaa', 'bbb']
l

['ccc', 'aaa', 'bbb']

In [31]:
# Inserindo um novo elemento no final da lista

l.append('eee')
l

['ccc', 'aaa', 'bbb', 'eee']

In [32]:
# Inserindo um item em uma posição específica com a função insert

l.insert(0, 'aaa')
l

['aaa', 'ccc', 'aaa', 'bbb', 'eee']

In [33]:
# ALterando um elemento da lista

l[1]

'ccc'

In [34]:
l[1] = 'bbbb'

In [35]:
l

['aaa', 'bbbb', 'aaa', 'bbb', 'eee']

In [38]:
# Excluindo todos elementos com clear
l.clear()
l

[]

In [40]:
l = ['aaa', 'ccc', 'fff', 'bbb', 'eee']

In [41]:
# Excluindo determinado elemento com pop, se não passarmos o item que queremos excluir, ele exclui o último item

l.pop()

'eee'

In [42]:
l

['aaa', 'ccc', 'fff', 'bbb']

In [43]:
l.pop(0)

'aaa'

In [44]:
l

['ccc', 'fff', 'bbb']

In [46]:
l = ['aaa', 'ccc', 'fff', 'bbb', 'eee']

In [47]:
# Excluindo vários elementos com del

del (l[2:4])

In [48]:
l

['aaa', 'ccc', 'eee']

In [49]:
l = ['aaa', 'ccc', 'fff', 'bbb', 'eee']

In [50]:
del(l[::2])

In [51]:
l

['ccc', 'bbb']

### **Ordenamento de listas**

In [53]:
lista = ['Luffy', 'Zoro', 'Usopp', 'Sanji', 'Nami', 'Chopper', 'Robin', 'Franky', 'Brook', 'Jinbe',]
lista

['Luffy',
 'Zoro',
 'Usopp',
 'Sanji',
 'Nami',
 'Chopper',
 'Robin',
 'Franky',
 'Brook',
 'Jinbe']

In [54]:
#Lê a lista de trás pra frente

lista.reverse()

In [55]:
lista

['Jinbe',
 'Brook',
 'Franky',
 'Robin',
 'Chopper',
 'Nami',
 'Sanji',
 'Usopp',
 'Zoro',
 'Luffy']

In [56]:
# Ordernar de forma ascendente através do sort

lista.sort()

In [57]:
lista

['Brook',
 'Chopper',
 'Franky',
 'Jinbe',
 'Luffy',
 'Nami',
 'Robin',
 'Sanji',
 'Usopp',
 'Zoro']

In [58]:
lista.sort(reverse=True)

In [59]:
lista

['Zoro',
 'Usopp',
 'Sanji',
 'Robin',
 'Nami',
 'Luffy',
 'Jinbe',
 'Franky',
 'Chopper',
 'Brook']

### **Listas - Quantidades de listas**

In [60]:
lista = ['Luffy', 'Zoro', 'Usopp', 'Sanji', 'Nami', 'Chopper', 'Robin', 'Franky', 'Brook', 'Jinbe',]

In [61]:
lista

['Luffy',
 'Zoro',
 'Usopp',
 'Sanji',
 'Nami',
 'Chopper',
 'Robin',
 'Franky',
 'Brook',
 'Jinbe']

In [62]:
len(lista)

10

In [64]:
lista[len(lista)-1]

'Jinbe'

In [66]:
lista[-3]

'Franky'

In [67]:
lista[-10]

'Luffy'

In [77]:
lista = ['Luffy', 'Zoro', 'Usopp', 'Sanji', 'Nami', 'Chopper', 'Robin', 'Franky', 'Brook', 'Jinbe',]

In [78]:
lista.insert(5, 'Luffy')

In [79]:
lista

['Luffy',
 'Zoro',
 'Usopp',
 'Sanji',
 'Nami',
 'Luffy',
 'Chopper',
 'Robin',
 'Franky',
 'Brook',
 'Jinbe']

In [80]:
lista.append('Luffy')

In [81]:
lista

['Luffy',
 'Zoro',
 'Usopp',
 'Sanji',
 'Nami',
 'Luffy',
 'Chopper',
 'Robin',
 'Franky',
 'Brook',
 'Jinbe',
 'Luffy']

In [82]:
# Saber a qtde de elementos repetidos da lista

lista.count('Luffy')

3

In [83]:
lista.count('Nami')

1

In [85]:
# Posição de determinado elemento na lista

lista.index('Nami')

4

In [87]:
# para repetições, a função index retorna somente a primeira ocorrência do elemento
lista.index('Luffy')

0

## **Tuplas**

### **Uma ***Tupla*** pode conter 0 ou 'n' elementos de tipos iguais ou distintos.**

### **Seus elementos são *ReadOnly* (somente leitura). Em uma ***lista*** as informações são, geralmente, do mesmo tipo, já em uma ***tupla***, geralmente, serão de tipos distintos.**

In [88]:
# Definindo uma tupla

t = tuple('abc')

In [89]:
t

('a', 'b', 'c')

In [92]:
(1,2,3)

(1, 2, 3)

In [93]:
type((1,2,3))

tuple

In [94]:
'aaa', 2, True

('aaa', 2, True)

In [96]:
x = 'aaa', 2, True
x

('aaa', 2, True)

In [97]:
type(x)

tuple

In [98]:
# A Tupla é somente ReadOnly, logo, não é possível realizar alterações
x.append("xxx")

AttributeError: 'tuple' object has no attribute 'append'

## **Operadores IN e NOT IN**

In [99]:
# contido em => IN ou não está contido => NOT IN

2 in (1,2,3,4,5)

True

In [100]:
6 not in (1,2,3,4,5)

True

In [103]:
1 in range(1, 6,)

True

In [104]:
x = range(1, 6)
if 3 in x:
  print('Esta contido')
else:
  print('Não esta contido')

Esta contido

## **Operadores AND, OR IN**

In [1]:
# Verificando se um ou mais valores estão contido/são verdadeiros

((1 and 6) or (5 and 6)) in range (1,6)

False

In [2]:
((1 and 3) or (5 and 6)) in range (1,6)

True

In [3]:
# O python verifica o primeiro elemento, se ele não estiver contido, ele não continua a verificação
(10 or 2) in range(1, 6)

False

In [4]:
((5 and 6) or (1 and 3)) in range(1,6)

False

## **Exemplos de operadores IN**

In [2]:
a = 10 
b = 25
c = 66

x = int(input("Digite um numere: "))

if(x == a or x == b or x == c):
  print("EStá contido")
else:
  print("Não está contido")

Não está contido

In [6]:
#Utilizando listas
a = 10 
b = 25
c = 66

x = int(input("Digite um numere: "))

#x = [10, 25, 66]
if(x in [a, b, c]):
  print("EStá contido")
else:
  print("Não está contido")

Não está contido

In [1]:
cores = ['azul', 'amarelo', 'vermelho', 'branco']

In [2]:
while True:
  cor = input("Digite o nome da cor: "
              "Digite 0 para sair: ")
  
  if(cor=='0'):
    break
  elif cor in cores:
    print('Está contida')
  else:
    print('Não está contida')

    # Entradas:
    # azul
    # rosa
    # Amarelo

Está contida
Não está contida
Não está contida

## **Introdução as Strings**

### Qualquer tipo de texto entre aspas ou aspas simples.
    'Texto entre aspas simples'
    "Texto entre aspas duplas"

    Strings ocm várias linhas:
    ''' string com 3 aspas simples '''
    """ string com 3 aspas simples """

In [3]:
s1 = 'string com aspas simples'
print(s1)

string com aspas simples

In [4]:
s2 = "string com aspas duplas"
print(s2)

string com aspas duplas

In [5]:
s3 = '''aaaaaaa
bbbbbbb
ccccccc
ddddddd'''
print(s3)

aaaaaaa
bbbbbbb
ccccccc
ddddddd

In [7]:
s4 = """uuuU
iiii
oooo
uuuu"""
print(s4)

uuuU
iiii
oooo
uuuu

### **Fatiando Strings**

    Python manipula String como sendo listas de caracteres, assim, todas as funções que nós utilizávamos para manipular listas, podem também, serem utilizadas com Strings.

In [12]:
s = "Para o python, toda string é uma lista imutável."

In [13]:
#Retornar o primeiro caracter da string
s[0]

'P'

In [14]:
#Retornar o último caracter da string
s[-1]

'.'

In [15]:
# Tudo são strings!
type(s[0])

str

In [17]:
#Retornar o caracter da string dentro do intervalo definido
s[0:9:]

'Para o py'

In [18]:
s[::-1]

'.levátumi atsil amu é gnirts adot ,nohtyp o araP'

### **Propriedades das Strings**

In [19]:
s = 'lista de caracteres'

In [20]:
#Quantidade de caracteres na string
len(s)

19

In [21]:
#'Alterando' a string
s.split(" ")

['lista', 'de', 'caracteres']

In [22]:
lista = s.split(" ")
lista

['lista', 'de', 'caracteres']

In [23]:
lista[0] + " " + lista[2]

'lista caracteres'

In [24]:
s = 'lista de caracteres'

In [25]:
#Substituindo uma parte da string
s.replace("de", "")

'lista  caracteres'

In [26]:
id(s)

140154731815680

In [27]:
id(s.replace("de", ""))

140154731793664

### **Comparando strings**

#### Relação entre strings distintas

#### **Tabela ASCII**

In [28]:
"a">"X"

True

In [29]:
"a">"1"

True

In [30]:
# Função para retornar o caracter relacionado com cada valor
chr(100)

'd'

In [31]:
#Função para retornar o valor relacionado com cada caracter

ord("d")

100

In [34]:
for c in range(122):
  print(str(c) + " - " + chr(c))

0 -  
1 - 
2 - 
3 - 
4 - 
5 - 
6 - 
7 - 
8 -
9 -
10 -

11 -
12 -
13 -
14 - 
15 - 
16 - 
17 - 
18 - 
19 - 
20 - 
21 - 
22 - 
23 - 
24 - 
25 - 
26 - 
27 - 
28 -
29 -
30 -
31 -
32 -
33 - !
34 - "
35 - #
36 - $
37 - %
38 - &
39 - '
40 - (
41 - )
42 - *
43 - +
44 - ,
45 - -
46 - .
47 - /
48 - 0
49 - 1
50 - 2
51 - 3
52 - 4
53 - 5
54 - 6
55 - 7
56 - 8
57 - 9
58 - :
59 - ;
60 - <
61 - =
62 - >
63 - ?
64 - @
65 - A
66 - B
67 - C
68 - D
69 - E
70 - F
71 - G
72 - H
73 - I
74 - J
75 - K
76 - L
77 - M
78 - N
79 - O
80 - P
81 - Q
82 - R
83 - S
84 - T
85 - U
86 - V
87 - W
88 - X
89 - Y
90 - Z
91 - [
92 - \
93 - ]
94 - ^
95 - _
96 - `
97 - a
98 - b
99 - c
100 - d
101 - e
102 - f
103 - g
104 - h
105 - i
106 - j
107 - k
108 - l
109 - m
110 - n
111 - o
112 - p
113 - q
114 - r
115 - s
116 - t
117 - u
118 - v
119 - w
120 - x
121 - y

## **Iterando Strings**

In [35]:
#Exemplo 1
s = 'Iternado strings'

for c in s:
  print(c)

I
t
e
r
n
a
d
o

s
t
r
i
n
g
s

In [36]:
#Exemplo 2
s = "Iterando strings"
indice = 0

while indice < len(s):
  print(indice, s[indice])
  indice+=1

0 I
1 t
2 e
3 r
4 a
5 n
6 d
7 o
8
9 s
10 t
11 r
12 i
13 n
14 g
15 s

In [37]:
#Exemplo 3

for k,v in enumerate('iterando strings'):
  print(k, v)

0 i
1 t
2 e
3 r
4 a
5 n
6 d
7 o
8
9 s
10 t
11 r
12 i
13 n
14 g
15 s

## **Introdução aos Dicionários**

    Tipo de lista não ordenada onde cada elemento está associado a uma chave. Todos os índices (chaves) deve ser únicos.

<img src="images/dicionario.png" alt="Exemplo de dicionário">

## **Dicionários na prática**

In [39]:
d1 = {}
d1['aaa'] = 1000
d1

{'aaa': 1000}

In [42]:
d2 = {}
d2['bbb'] = 2000
d1['bbb'] = 2000
d1['ccc'] = 3000
d1

{'aaa': 1000, 'bbb': 2000, 'ccc': 3000}

In [43]:
d1['bbb']

2000

In [54]:
d2 = {1.1: "teste1", 2.2: "teste2", 3: "teste3"}
d2

{1.1: 'teste1', 2.2: 'teste2', 3: 'teste3'}

In [46]:
d2[1.1]

'teste1'

In [55]:
d2[2.2]

'teste2'

## **Funções dos Dicionários**

In [56]:
tel = {}
tel = {
    30202910: "Luffy",
    30245910: "Nami",
    30276910: "Zoro",
    30202543: "Usopp"
}
print(tel)

{30202910: 'Luffy', 30245910: 'Nami', 30276910: 'Zoro', 30202543: 'Usopp'}

In [57]:
len(tel)

4

In [58]:
del(tel[30202910])

In [59]:
tel

{30245910: 'Nami', 30276910: 'Zoro', 30202543: 'Usopp'}

In [60]:
tel.keys()

dict_keys([30245910, 30276910, 30202543])

In [61]:
tel.values()

dict_values(['Nami', 'Zoro', 'Usopp'])

In [63]:
tel[30245910]

'Nami'

In [62]:
tel.get(30245910)

'Nami'

In [64]:
tel = {
    30202910: "Luffy",
    30245910: "Nami",
    30276910: "Zoro",
    30202543: "Usopp"
}

In [67]:
#Retorna um elemento e remove ao mesmo tempo do dicionário
tel.popitem()

(30276910, 'Zoro')

In [68]:
tel

{30202910: 'Luffy', 30245910: 'Nami'}

In [69]:
#Verificar se está contido no dicionário
30202910 in tel

True

In [70]:
3020233910 in tel

False

    Adicionando ao dicionário

In [73]:
tel = {
    30202910: "Luffy",
    30245910: "Nami",
    30276910: "Zoro",
    30202543: "Usopp"
}

In [74]:
tel2 = {9999999: "teste1", 555555555: "teste2"}

In [75]:
tel.update(tel2)
tel

{30202910: 'Luffy',
 30245910: 'Nami',
 30276910: 'Zoro',
 30202543: 'Usopp',
 9999999: 'teste1',
 555555555: 'teste2'}

    Relacionando um elemento a uma tupla

In [77]:
tel[(10, 10, 10)] = "eXcript"
tel

{30202910: 'Luffy',
 30245910: 'Nami',
 30276910: 'Zoro',
 30202543: 'Usopp',
 9999999: 'teste1',
 555555555: 'teste2',
 (10, 10, 10): 'eXcript'}

## **Introdução às Funções**

## **Parâmetros de Função**

## **Parâmetros default**

## **Argumentos Nomeados vs Argumentos Posicionais**

## **Retorno de Valores por Funções**

## **Retorno de valores múltiplos**

## **Funções Variádicas**

## **OBJETOS**
### Convencionou-se dizer que em Python tudo é um objeto. De fato, Python é uma linguagem orientada a objetos.
### Objetos são instâncias de classes. Por exemplo, quando você cria uma variável com uma string, você está criando um objeto do tipo  string.
### Objetos possuem atributos (características) e métodos (ações que podem ser aplicadas).